* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#root {
  background-color: #2d2d2d;
  min-height: 100vh;
}

h1 {
  color: #fff;
  text-align: center;
}

.pago-word {
  color: #00B1EA;
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 80px;
  max-width: 350px;
  height: 500px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: -5px 5px 10px rgb(0 0 0 / 0.5);

  img {
    width: 80%;
    border-radius: 16px;
  }

  input {
    width: 32px;
  }

  .quantity-container {
    display: flex;
    width: 60%;
    justify-content: space-around;

    .buttons {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      padding: 0 24px;

      button {
        background-color: lightgray;
        border: none;
        width: 20px;
        border-radius: 4px;
        font-weight: 700;
        cursor: pointer;
      }
    }
  }

  .pay-button {
    width: 50%;
    padding: 16px 0;
    border: none;
    border-radius: 8px;
    background-color: #00B1EA;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
  }
}
